{
  "branches": ["vue-example"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"scope": "demo", "release": false},
        {"scope": "conf", "release": false}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "pkgRoot": "packages/@monorepo-lib-example-vue"
    }],
    ["./.github/scripts/semantic-release.plugin.js", {
      "files": [
        {
          "path": "config.js",
          "versionKey": "LIB_VERSION"
        },
        "package.json",
        "packages/docs/package.json"
      ]
    }],
    ["@semantic-release/git", {
      "assets": [
        "package.json",
        "packages/@monorepo-lib-example-vue/package.json",
        "packages/docs/package.json",
        "config.js",
        "CHANGELOG.md"
      ],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github"
  ]
}